.DS_Store
__init__.pyc
__pycache__/
data/.DS_Store
data/fits/cdp7/.DS_Store
idl/.DS_Store
miricoord/.DS_Store
miricoord/.ipynb_checkpoints/
miricoord/__pycache__/
miricoord/imager/.ipynb_checkpoints/
miricoord/imager/__pycache__/
miricoord/imager/makeboresight/.ipynb_checkpoints/
miricoord/imager/makecrds/.ipynb_checkpoints/
miricoord/imager/makecrds/__pycache__/
miricoord/imager/toolversions/__pycache__/
miricoord/mrs/.DS_Store
miricoord/mrs/__pycache__/
miricoord/mrs/makesiaf/.DS_Store
miricoord/mrs/makesiaf/.ipynb_checkpoints/
miricoord/mrs/makesiaf/__pycache__/
miricoord/mrs/toolversions/__pycache__/
miricoord/tel/.DS_Store
miricoord/tel/__pycache__/
miricoord/lrs/.ipynb_checkpoints/
miricoord/mrs/.ipynb_checkpoints/
miricoord/mrs/makedither/.ipynb_checkpoints/
miricoord/mrs/makecrds/.ipynb_checkpoints/
miricoord/mrs/makedither/.ipynb_checkpoints/makedither_mrs-checkpoint.ipynb
miricoord/apt2dither/.ipynb_checkpoints/
miricoord/apt2dither/.ipynb_checkpoints/APT_to_MIRIsim_dithers-checkpoint.ipynb
miricoord.egg-info/
